.n2{
  background-color: #28a745;
}
.n1{
 margin-top: 100px;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 20px;
 padding-right: 20px;

}
.n3{
  height: 35px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  margin: 5px;
}
.n4{
  color: #428bca;
  font-size: 23px;
  font-weight: lighter;
}
.n5{
  color: #e64a19;
  font-size: 50px;
}
.card{
 
}
